body {
    margin:0;
    font-family: "Lucida Console", "Courier New" ;
}

.header-container {
    background-color: #1f2937;
    padding: 10px 150px 100px 150px;
}

.logo-and-navBar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
}

.logo{
    font-size: 24px;
    color: #f9faf8
}

.navigation-bar {
    display: flex;
    gap: 30px;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

.header-hero-and-img-container {
    display: flex;
    gap: 20px;
}

.hero-text-container {
    flex-basis: 50%;
}

.hero-main-text {
    color: #f9faf8;
    font-size: 48px;
    font-weight: bold;
}

.hero-secondary-text {
    font-size: 18px;
    color:#e5e7eb;
    margin: 10px 0px;
}

.sign-up-button {
    color:  #f9faf8;
    background-color: #3882f6;
    padding: 3px 20px;
    border-radius: 10px;
}

.img-container {
    flex-basis: 50%;
    display: flex;
    align-items:center;
    justify-content: center;
    color: #e5e7eb;
    font-size: 18px;
    background-color: #b5b8bd;
}

.info {
    padding : 50px 150px 100px 150px;
}

.info-header {
    font-size: 36px;
    font-weight: bold;
    color: #1f2937;
    text-align: center;
    margin-bottom: 50px;
}

.info-imgs-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}


.info-img-container {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    border: 2px solid #3882f6;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #3882f6;
    font-size: 20px;
    margin-bottom: 10px;
}
 
.img-subtext {
    font-size: 18px;
    color:#babcc0;
    width:150px;
    text-align: center;
}

.quote-section {
    background-color: #e5e7eb;
    padding: 150px 200px;
}

.quote-section p {
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
    color:#1f2937;
    margin:0px;
}

.quote-author-name {
    text-align: center;
    width: 280px;
    margin-left: auto;
}

.sign-up-section {
    padding: 50px 150px;
}

.core-sign-up {
    background-color: #3882F6;
    color: #f9faf8;
    padding: 30px 50px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.core-text {
    flex-basis: 400px;
}
.core-header {
    font-weight: bold;
    margin-bottom: 5px;
}

.sign-up-button {
    border: 1px solid  #f9faf8;
    border-radius: 5px;
}















